
/*===============================================
=            Active Background Color            =
===============================================*/

.blue-active-color .main-menu ul > li.current-parent > a,
.blue-active-color .main-menu ul > li > a:hover,
.blue-active-color header.header .header-right a:hover, 
.blue-active-color header.header .header-right div.menu-icon:hover,
.blue-active-color .btn-default.filled,
.blue-active-color ul.with-images li .image-mask,
.icon_box.filled,
ul.big-titles li h5:before, 
ul.big-titles li h6:before,
.team-block .team-wrap:hover{
	background-color: #17c4ee;
}
.icon_box.filled.filled-5{
	background-color: #10b4db;
}
/*=====  End of Active Background Color  ======*/

/*===============================================
=              Active Font Color               =
===============================================*/
.blue-active-color .top-bar .share-icons li i:hover,
.blue-active-color .top-bar .top-bar-text i,
.blue-active-color header.header .header-right a:hover, 
.blue-active-color header.header .header-right div.menu-icon:hover,
.blue-active-color .block-with-icon span b,
.team-block .team-wrap .share-icons ul li i:hover{
	color: #17c4ee;
}
/*========  End of Active Font Color  ========*/

/*===========================================
=            Active Border Color            =
===========================================*/
.blue-active-color .btn-default.filled{
	border-color: #17c4ee;
}


/*=====  End of Active Border Color  ======*/
.blue-active-color .title-block hr.separator{
	background-image: url(../assets/separator-blue.png);
	width: 68px;
}