@font-face {
    font-family: 'office-icons';
    src:    url('../fonts/office-icons/office-icons.eot?c470h2');
    src:    url('../fonts/office-icons/office-icons.eot?c470h2#iefix') format('embedded-opentype'),
        url('../fonts/office-icons/office-icons.ttf?c470h2') format('truetype'),
        url('../fonts/office-icons/office-icons.woff?c470h2') format('woff'),
        url('../fonts/office-icons/office-icons.svg?c470h2#office-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'office-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-office1:before {
    content: "\e900";
}
.icon-office2:before {
    content: "\e901";
}
.icon-office3:before {
    content: "\e902";
}
.icon-office4:before {
    content: "\e903";
}
.icon-office5:before {
    content: "\e904";
}
.icon-office6:before {
    content: "\e905";
}
.icon-office7:before {
    content: "\e906";
}
.icon-office8:before {
    content: "\e907";
}
.icon-office9:before {
    content: "\e908";
}
.icon-office10:before {
    content: "\e909";
}
.icon-office11:before {
    content: "\e90a";
}
.icon-office12:before {
    content: "\e90b";
}
.icon-office13:before {
    content: "\e90c";
}
.icon-office14:before {
    content: "\e90d";
}
.icon-office15:before {
    content: "\e90e";
}
.icon-office16:before {
    content: "\e90f";
}
.icon-office17:before {
    content: "\e910";
}
.icon-office18:before {
    content: "\e911";
}
.icon-office19:before {
    content: "\e912";
}
.icon-office20:before {
    content: "\e913";
}
.icon-office21:before {
    content: "\e914";
}
.icon-office22:before {
    content: "\e915";
}
.icon-office23:before {
    content: "\e916";
}
.icon-office24:before {
    content: "\e917";
}
.icon-office25:before {
    content: "\e918";
}
.icon-office26:before {
    content: "\e919";
}
.icon-office27:before {
    content: "\e91a";
}
.icon-office28:before {
    content: "\e91b";
}
.icon-office29:before {
    content: "\e91c";
}
.icon-office30:before {
    content: "\e91d";
}

