html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*===================================
=            Base Styles            =
===================================*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #898989;
}
a {
  color: #5f5f5f;
}
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}
p {
  line-height: 1.8;
}
.mb70 {
  margin-bottom: 70px;
}
.pb-180 {
  padding-bottom: 180px;
}
/*=====  End of Base Styles  ======*/
.btn-default {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  padding: 15px 50px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: transparent;
  border-radius: 0;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.6);
  transition: all 0.2s ease-in-out;
}
.btn-default.filled {
  background-color: #f98f31;
  border-color: #f98f31;
}
.btn-default.filled:hover {
  color: #fff;
  background-color: #f07507;
  border-color: #f07507;
}
section {
  padding-top: 180px;
  display: inline-block;
  width: 100%;
}
section.dark-section {
  padding-top: 0;
  background-color: #292929;
  color: rgba(255, 255, 255, 0.6);
}
section.dark-section h5 {
  color: #fff;
}
section.dark-section .list-with-icon li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 25px;
}
section.dark-section .list-with-icon li:last-child {
  border-bottom: none;
}
section .f-column {
  padding: 100px;
}
section .f-column p {
  margin-bottom: 25px;
}
header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  text-align: center;
}
header .logo,
header .main-menu,
header .header-right {
  display: inline-block;
  margin-bottom: -2px;
}
header .logo {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
}
header .header-right {
  position: absolute;
  right: 0;
}
header .main-menu li {
  display: inline-block;
  float: left;
}
header .main-menu li a {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  padding: 39px 25px;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
header .main-menu li a:hover {
  background-color: #f98f31;
}
header .main-menu li.current-parent a {
  background-color: #f98f31;
}
header .main-menu li.current-parent a:hover {
  background-color: #f07507;
}
header .header-right a {
  padding: 36px;
  height: 91px;
  display: block;
  float: left;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  transition: all 0.2s ease-in-out;
}
header .header-right a:hover {
  background-color: #f98f31;
}
.title-block {
  display: inline-block;
  width: 100%;
}
.title-block h4 {
  color: #4a4a4a;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.title-block h2 {
  color: #3c3c3c;
  font-family: 'Raleway', sans-serif;
  font-size: 52px;
  font-weight: 800;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.title-block hr.separator {
  background-image: url(../images/separator.svg);
  border: none;
  width: 61px;
  height: 15px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 25px;
}
.title-block p {
  color: #5f5f5f;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.title-on-dark h4,
.title-on-dark h3,
.title-on-dark h2 {
  color: #fff;
}
.title-on-dark p {
  color: rgba(255, 255, 255, 0.8);
}
.medium-title-block {
  margin-bottom: 30px;
}
.medium-title-block h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 10px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.medium-title-block h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
}
.big-slider {
  text-align: center;
  padding-top: 0;
}
.big-slider img {
  width: 100%;
}
.slider-mask {
  position: absolute;
  top: 50%;
  display: inline-block;
  transform: translateY(-50%) translateX(-50%);
  -webkit-font-smoothing: antialiased;
}
.slider-mask .title-block h4 {
  color: #fff;
  font-size: 14px;
}
.slider-mask .title-block h2 {
  font-size: 66px;
  color: #fff;
  margin-bottom: 35px;
}
.slider-mask .title-block p {
  color: #fff;
  opacity: 0.8;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 35px;
}
.icon-box.filled {
  background-color: #f98f31;
  color: #fff;
  padding: 80px;
}
.icon-box.filled .img-wrap {
  height: 62px;
  margin-bottom: 20px;
}
.icon-box.filled img {
  max-height: 100%;
  width: auto;
}
.icon-box.filled h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 20px;
}
.icon-box.filled p {
  color: rgba(255, 255, 255, 0.8);
  line-height: 32px;
  font-size: 14px;
}
.icon-box.filled.filled-5 {
  background-color: #f88218;
}
.icon-box.filled.filled-10 {
  background-color: #f07507;
}
.bordered-banner img {
  width: 100%;
}
.bordered-mask {
  position: absolute;
  left: 130px;
  right: 130px;
  top: 110px;
  bottom: 110px;
  border: 15px solid #fff;
}
.bordered-mask .bordered-mask-wrap {
  position: absolute;
  top: 50%;
  padding: 50px;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  width: 100%;
}
.bordered-mask .bordered-mask-wrap span {
  font-family: 'Open Sans', sans-serif;
  font-size: 102px;
  font-weight: 700;
  margin-bottom: 25px;
  display: inline-block;
  text-transform: uppercase;
}
.bordered-mask .bordered-mask-wrap h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.bordered-mask .bordered-mask-wrap p {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.list-with-icon img {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}
.list-with-icon h5 {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
.list-with-icon p {
  margin-top: 15px;
}
