
/*===============================================
=            Active Background Color            =
===============================================*/
.btn-default.filled,.main-menu ul > li.current-parent > a,
.main-menu >ul > li > a:hover,
.share-icons.active ul li i,
#filter li a.current,
.cta-title.active a,
.price-list li h4:before,
.nav-tabs > li.active a,
.nav-tabs > li a:hover,
.separator.small,
.preloader .ball,
.active-bg-block,
.owl-controls .owl-page.active,
.copyrights .share-icons li a i:hover{
    background-color: rgb(237, 192, 9) !important;
}

/*=====  End of Active Background Color  ======*/


/*===============================================
=              Active Font Color               =
===============================================*/
a:focus, a:hover,
.top-bar .top-bar-text i,.active,
.title-block h4.active,
.icon_box_image:hover .icon_box-inner h3{
    color: rgb(237, 192, 9) !important;
}

/*========  End of Active Font Color  ========*/


/*===========================================
=            Active Border Color            =
===========================================*/
.btn-default.filled,
.btn-default.filled:hover,
.bordered-block,
.owl-controls .owl-page.active{
    border-color: rgb(237, 192, 9);
}

/*=====  End of Active Border Color  ======*/
