@active-color: #f98f31;
.transition(){
	transition: all 0.2s ease-in-out;
}

.flexbox-container{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.stretch{
    align-self: stretch;
}

.table-container{
    display: table;
    >div{
        float: none;
        display: table-cell;
        vertical-align: middle;
        padding: 0;
    }
}

.img-100{
    img{
        width: 100%;
    }
}

.b-right{
    border-right:1px solid #efefef;
}

.b-bottom{
    border-bottom: 1px solid #efefef;
}

.b-top{
    border-top:1px solid #efefef;
}

.b-left{
    border-left:1px solid #efefef;
}

.color-white{
    color: #fff !important;
}

@media only screen and (max-width:1200px){
    .flexbox-container{
        flex-wrap:wrap;
    }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*===================================
=            Base Styles            =
===================================*/
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #898989;
}

a{
	color: #5f5f5f;
	&:focus,
	&:hover{
		text-decoration: none;
		outline: none;
		color: @active-color;
		.transition();
	}
	&.active{
		color: @active-color;
	}
}

img{
	max-width: 100%;
	height: auto;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Raleway', sans-serif;
}
p{
	line-height: 1.8;
}

input,
input.form-control,
textarea,
textarea.form-control{
	border-radius: 0;
	background-color: transparent;
	height: 50px;
	box-shadow: none;
	border:none;
	max-width: 100%;
	-webkit-appearance:none;
	&:focus{
		outline: none;
		box-shadow: none;
		border-color: darken(#fff, 30%);
	}
}

textarea,
textarea.form-control{
	height: auto;
}

.mb70{
	margin-bottom: 70px;
}

.mb50{
	margin-bottom: 50px !important;
}
.mb40{
	margin-bottom: 40px !important;
}
.pb-180{
	padding-bottom: 7vw !important;
}
.pt-180{
	padding-top: 7vw !important;
}

.no-padding{
	padding: 0 !important;
}

.clear{
	clear: both;
}
/*=====  End of Base Styles  ======*/

.btn-default{
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	padding: 15px 50px;
	font-weight: 700;
	letter-spacing: 1px;
	background-color: transparent;
	border-radius: 0;
	text-transform: uppercase;
	border:1px solid rgba(255, 255, 255, 0.6);
	.transition();
	&:hover{
		background-color: #fff;
		border-color: #fff;
	}
	&.filled{
		background-color: @active-color;
		border-color: @active-color;
		&:hover{
			color: #fff;
			background-color: darken(@active-color, 10%);
			border-color: darken(@active-color, 10%);
		}
	}
}
section{
	padding-top: 7vw;
	display: inline-block;
	width: 100%;
	float: left;
	&.full-width{
		h6{
			font-size: 18px;
			font-weight: 700;
			line-height: 40px;
			margin-bottom: 5px;
		}
	}
	&.dark-section{
		padding-top: 0;
		background-color: #292929;
		color: rgba(255, 255, 255, 0.6);
		h5,h6{
			color: #fff;
		}
		.list-with-icon{
			li{
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);
				margin-bottom: 25px;
				&:last-child{
					border-bottom: none;
					margin-bottom: 0;
					p{
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.f-column{
		padding: 3.3vw;
		p{
			margin-bottom: 25px;
		}
	}
	.chees-block{
		padding: 0;
		h3{
			color: #4a4a4a;
			font-size: 30px;
			font-weight: 800;
			line-height: 32px;
			margin-bottom: 20px;
		}
		p{
			line-height: 26px;
			margin-bottom: 50px;
		}
		.list-with-icon{
			width: 50%;
			display: inline-block;
			float: left;
			vertical-align: top;
			margin-bottom: 30px;
			li{
				margin-bottom: 45px;
				padding-left: 55px;
				img{
					top: -5px;
				}
			}
		}
	}
	&#most-interesting{
		background-image: url(../images/image-interesting.jpg);
		background-size: cover;
		background-position: center center;
		padding-bottom: 7vw;
	}
	.our-projects-bg{
		background-image: url(../images/image-bg-project.jpg);
		background-size: cover;
	}
}

@media only screen and (min-width:1400px){
	.block-right-align{
		float: right;
		width: 70%;
		padding-right: 75px;
	}
	.block-left-align{
		float: left;
		width: 70%;
		padding-left: 75px;
	}
}

@media only screen and (max-width:1399px){
	.block-left-align,
	.block-right-align{
		width: 100%;
		padding-right: 30px;
		padding-left: 30px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	section .f-column{
		padding: 55px;
		p{
			margin-bottom: 20px;
		}
	}
	.list-with-icon li{
		margin-bottom: 20px;
		p{
			margin-top: 10px;
		}
	}
}
header{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	text-align: center;
	.logo,
	.main-menu,
	.header-right{
		display: inline-block;
		margin-bottom: -2px;
	}
	.logo{
		position: absolute;
		left: 50px;
		top: 50%;
		transform: translateY(-50%);
	}
	.header-right{
		position: absolute;
		right: 0;
	}
	.main-menu{
		li{
			display: inline-block;
			float: left;
			a{
				font-family: 'Raleway', sans-serif;
				color: #fff;
				padding: 39px 25px;
				font-size: 13px;
				font-weight: 600;
				display: inline-block;
				text-transform: uppercase;
				.transition();
				&:hover{
					background-color: @active-color;
				}
			}
			&.current-parent{
				a{
					background-color: @active-color;
					&:hover{
						background-color: darken(@active-color, 10%);
					}
				}
			}
		}
	}
	.header-right{
		a{
			padding: 36px;
			height: 91px;
			display: block;
			float: left;
			border-left:1px solid rgba(255, 255, 255, 0.15);
			.transition();
			&:hover{
				background-color: @active-color;
			}
		}
	}
}
.title-block{
	display: inline-block;
	width: 100%;
	margin-bottom: 65px;
	h4{
		color: #4a4a4a;
		font-family: 'Raleway', sans-serif;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 5px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	h2{
		color: #3c3c3c;
		font-family: 'Raleway', sans-serif;
		font-size: 52px;
		font-weight: 800;
		line-height: 50px;
		text-transform: uppercase;
		margin-bottom: 25px;
	}
	hr.separator{
		background-image: url(../images/separator.svg);
		border:none;
		width: 61px;
		height: 15px;
		display: inline-block;
		margin-top: 0;
		margin-bottom: 25px;
	}
	p{
		color: #5f5f5f;
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;
	}
	&.color-white{
		h4,h2,p{
			color: #fff;
		}
		p{
			opacity: 0.8;
		}
	}
}
.title-on-dark{
	margin-bottom: 50px;
	h4,h3,h2{
		color: #fff;
	}
	p{
		color: rgba(255, 255, 255, 0.8);
		margin-bottom: 0 !important;
	}
}
.medium-title-block{
	margin-bottom: 30px;
	h4{
		font-size: 14px;
		font-weight: 700;
		line-height: 28px;
		margin-bottom: 10px;
		letter-spacing: 5px;
		text-transform: uppercase;
	}
	h3{
		font-size: 34px;
		font-weight: 700;
		line-height: 34px;
		text-transform: uppercase;
	}
}

@media only screen and (max-width:1399px){
	.medium-title-block{
		h4{
			margin-bottom: 5px;
			font-size: 13px;
			letter-spacing: 4px;
		}
		h3{
			font-size: 30px;
		}
	}
}
.big-slider{
	text-align: center;
	padding-top: 0;
	img{
		width: 100%;
	}
}
.slider-mask{
	position: absolute;
	top: 50%;
	display: inline-block;
	transform:translateY(-50%) translateX(-50%);
	-webkit-font-smoothing: antialiased;
	.title-block{
		h4{
			color: #fff;
			font-size: 14px;
		}
		h2{
			font-size: 66px;
			color: #fff;
			margin-bottom: 35px;
		}
		p{
			color: #fff;
			opacity: 0.8;
			font-size: 18px;
			line-height: 30px;
			margin-bottom: 35px;
		}
	}
}
.icon-box{
	&.filled{
		background-color: @active-color;
		color:#fff;
		padding: 3.2vw;
		.img-wrap{
			height: 62px;
			margin-bottom: 20px;
		}
		img{
			
			max-height: 100%;
			width: auto;
		}
		h5{
			font-size: 18px;
			font-weight: 700;
			line-height: 30px;
			margin-bottom: 20px;
		}
		p{
			color: rgba(255, 255, 255, 0.8);
			line-height: 32px;
			font-size: 14px;
		}
		&.filled-5{
			background-color: darken(@active-color, 5%);
		}
		&.filled-10{
			background-color: darken(@active-color, 10%);
		}
	}
}

.bordered-banner{
	background-image: url(../images/image-bg.jpg);
	background-size: cover;
	background-position: center center;
}

.bordered-mask{
	position: absolute;
	left: 5vw;
	right: 5vw;
	top: 4.3vw;
	bottom: 4.3vw;
	border:15px solid #fff;
	.bordered-mask-wrap{
		position: absolute;
		top:50%;
		padding: 2vw;
		transform: translateY(-50%);
		text-align: center;
		color: #fff;
		width: 100%;
		span{
			font-family: 'Open Sans', sans-serif;
			font-size: 102px;
			font-weight: 700;
			margin-bottom: 25px;
			display: inline-block;
			text-transform: uppercase;
		}
		h4{
			font-size: 18px;
			font-weight: 700;
			line-height: 24px;
			text-transform: uppercase;
			margin-bottom: 25px;
		}
		p{
			color: rgba(255, 255, 255, 0.8);
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
		}
	}
}

.icon-box.numbered{
	>span{
		color: @active-color;
		font-family: 'Open Sans', sans-serif;
		font-size: 100px;
		font-weight: 800;
		text-transform: uppercase;
		display: inline-block;
		margin-bottom: 20px;
	}
	h5{
		color: #4a4a4a;
		font-size: 18px;
		font-weight: 700;
		line-height: 32px;
		margin-bottom: 20px;
	}
}

.filled-box{
	padding: 4vw 2vw;
	background-position: right bottom;
	background-repeat: no-repeat;
	.separator{
		background-image: url(../images/separator.png);
		border: none;
		width: 61px;
		height: 15px;
		display: inline-block;
		margin-top: 0;
		margin-bottom: 15px;
	}
	h5{
		color: #fff;
		font-size: 22px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 20px;
	}
	p{
		opacity: 0.8;
		color: white;
		font-size: 14px;
		font-weight: 400;
		line-height: 26px;
		margin-bottom: 30px;
	}
	&.orange{
		background-color: #f98f31;
		background-image: url(../images/icon-slice.png);
	}
	&.green{
		background-color: #82b53f;
		background-image: url(../images/icon-alarm.png);
	}
	&.blue{
		background-color: #2b70bb;
		background-image: url(../images/icon-trash.png);
	}
	&.red{
		background-color: #d53e3e;
		background-image: url(../images/icon-chat.png);
	}
}

.icon-box-bordered{
	li{
		width: 50%;
		float: left;
		padding: 0 50px;
		height: 315px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: stretch;
		align-items: center;
		h5{
			color: #4a4a4a;
			font-size: 18px;
			font-weight: 700;
			line-height: 32px;
			margin-bottom: 15px;
		}
		img{
			margin-right: 25px;
			position: relative;
			top:-35px;
			float: left;
		}

	}
}

@media only screen and (max-width:1399px){
	.bordered-mask{
		border:none;
	}
}
.list-with-icon{
	li{
		position: relative;
		padding-left: 50px;
	}
	img{
		position: absolute;
		left: 0;
	}
	h5{
		display: inline-block;
		font-size: 18px;
		font-weight: 700;
		line-height: 28px;
	}
	p{
		margin-top: 15px;
	}
}

ul.with-images{
	li{
		width: 50%;
		display: inline-block;
		float: left;
		img{
			width: 100%;
			margin-bottom: -2px;
		}
		&:nth-child(2n+1){
			clear: both;
		}
	}
}

ul.dotted{
	li{
		line-height: 32px;
		&:before{
			content:"";
			display: inline-block;
			position: relative;
			top:-2px;
			width: 5px;
			height: 5px;
			border-radius: 100%;
			margin-right: 12px;
			background-color: @active-color;
		}
	}
	margin-bottom: 40px;
}

ul.big-titles{
	li{
		width: 50%;
		display: inline-block;
		float: left;
		&:nth-child(2n+1){
			clear: both;
		}
		&:nth-child(odd){
			padding-right: 20px;
		}

		&:nth-child(even){
			padding-left: 20px;
		}
		h5{
			font-size: 18px;
			font-weight: 700;
			line-height: 26px;
			color: #4a4a4a;
			margin-bottom: 15px;
			position: relative;
			padding-left: 30px;
			&:before{
				content:"";
				width: 14px;
				height: 2px;
				background-color: @active-color;
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -2px;
			}
		}
	}
}

@media only screen and (min-width:1200px) and (max-width:1399px){
	ul.with-images{
		li{
			width: 33.33%;
			&:nth-child(2n+1){
				clear: none;
			}
			&:nth-child(3n+1){
				clear: both;
			}
			&:last-child{
				width: 100%;
			}
		}
	}
}

@media only screen and (max-width:1200px){
	.icon-box-bordered{
		li{
			width: 100%;
			border-right: none !important;
			border-bottom: 1px solid #efefef;
		}
	}
}
.contact-adress,
.contact-form{
	padding-left: 100px;
	padding-right: 100px;
}

.contact-form{
	background-color: @active-color;
	h4{
		font-size: 26px;
		font-weight: 800;
		line-height: 32px;
		color: #fff;
		margin-bottom: 15px;
	}
	p{
		margin-bottom: 50px;
	}
	.form-group{
		margin-left: 0;
		margin-right: 0;
		input,
		textarea{
			color: rgba(255, 255, 255, 0.8);
			font-size: 13px;
			border:1px solid rgba(255, 255, 255, 0.5);
			&:focus{
				border:1px solid rgba(255, 255, 255, 0.8);
			}
		}
		textarea{
			padding:15px 20px;
		}
	}
	button{
		margin-top: 35px;
	}
	.one-half{
		width: 50%;
		display: inline-block;
		float: left;
		margin-bottom: 30px;
		&:first-child{
			padding-right: 15px;
		}
		&:last-child{
			padding-left: 15px;
		}
	}
	input::-webkit-input-placeholder{color: rgba(255, 255, 255, 0.8);}
	input:-moz-input-placeholder{color: rgba(255, 255, 255, 0.8);}
	textarea:-moz-input-placeholder{color: rgba(255, 255, 255, 0.8);}
	textarea::-webkit-input-placeholder{color: rgba(255, 255, 255, 0.8);}
}

section .contact-adress{
	.list-with-icon{
		margin-bottom: 50px;
		li{
			border-bottom: none;
			margin-bottom: 50px;
			img{
				top: -5px;
			}
			strong{
				text-transform: uppercase;
				color: #fff;
				padding-right: 3px;
			}
		}
	}
}

.cta-title{
	h3 a{
		color: rgba(255, 255, 255, 1);
		font-size: 30px;
		font-weight: 700;
		line-height: 32px;
		padding: 70px 0;
		display: inline-block;
		width: 100%;
		text-align: center;
		background-color: #82b53f;
		.transition();
		&:hover{
			background-color: darken(#82b53f, 5%)
		}
	}
}
.share-icons{
	.share-title{
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		color:#fff;
		float: left;
		margin-right: 7px;
		display: inline-block;
		text-transform: uppercase;
	}
	ul{
		li{
			display: inline-block;
			margin-left: 7px;
			i{
				font-size: 14px;
				color: #6f6f6f;
				text-align: center;
				background-color: #111;
				width: 32px;
				line-height: 32px;
				border-radius: 100%;
				.transition();
				&:hover{
					background-color: @active-color;
					color: #fff;
				}
			}
		}
	}
}
.footer{
	display: inline-block;
	float: left;
	width: 100%;
	background-color: #222;
	color: #acacac;
	>.container{
		padding: 100px 15px;
	}
	.footer-logo{
		margin-bottom: 30px;
		display: inline-block;
	}
	p{
		font-size: 13px;
		line-height: 20px;
		margin-bottom: 30px;
	}
	.post-widget{
		li{
			margin-bottom: 20px;
			a{
				color: #acacac;
				font-size: 13px;
				line-height: 20px;
				.transition();
				&:hover{
					color: @active-color;
				}
			}
			span{
				display: block;
				margin-top: 8px;
				color: #5c5c5c;
				line-height: 20px;
			}
		}
	}
	.footer-contacts{
		li{
			margin-bottom: 10px;
			line-height: 20px;
			font-size: 13px;
		}
		strong{
			color: #fff;
		}
	}
	.footer-list{
		li{
			margin-bottom: 15px;
			a{
				color: #acacac;
				font-size: 13px;
				font-weight: 400;
				line-height: 20px;
				position: relative;
				padding-left: 16px;
				.transition();
				&:before{
					content:"\f105";
					font-family: FontAwesome;
					position: absolute;
					left: 0;
					line-height: 22px;
				}
				&:hover{
					color: @active-color;
				}
			}
		}
	}
	.twitter-widget{
		li{
			margin-bottom: 25px;
			position: relative;
			padding-left: 30px;
			p{
				margin-bottom: 0;
			}
			a{
				color: #fff;
				.transition();
				&:hover{
					color: @active-color;
				}
				&.active{
					color: @active-color;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			&:before{
				content:"\f099";
				position: absolute;
				left: 0;
				color: #fff;
				font-family: FontAwesome;
				font-size: 18px;
			}
			.twitter-date{
				color: #5c5c5c;
				margin-top: 8px;
				display: block;
				line-height: 20px;
			}
		}
	}
	form{
		position: relative;
		input[type="email"]{
			background-color: #191919;
			height: 37px;
			width: 270px;
			font-size: 11px;
			padding: 13px 20px;
			&::-webkit-input-placeholder{color: #acacac;opacity: 0.8;}
		}
		input[type="submit"]{
			font-size: 0;
			position: absolute;
			right: 0;
			top:0;
			background-image: url(../images/subscribe.png);
			background-repeat: no-repeat;
			background-position: center center;
			opacity: 0.6;
			width: 30px;
			height: 37px;
			.transition();
			&:hover{
				opacity: 1;
			}
		}
	}

}
.footer-widget{
	.widget-title{
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		color: #fff;
		margin-bottom: 15px;
	}
}
.copyrights{
	width: 100%;
	background-color: #191919;
	padding: 40px 0;
	p{
		margin-bottom: 0;
	}
	.share-icons{
		li{
			a i{
				background-color: #353535;
				color: rgba(255, 255, 255, 0.8);
				.transition();
				&:hover{
					background-color: @active-color;
				}
			}
		}
	}
}