.big-slider{
	text-align: center;
	padding-top: 0;
	img{
		width: 100%;
	}
}
.slider-mask{
	position: absolute;
	top: 50%;
	display: inline-block;
	transform:translateY(-50%) translateX(-50%);
	-webkit-font-smoothing: antialiased;
	.title-block{
		h4{
			color: #fff;
			font-size: 14px;
		}
		h2{
			font-size: 66px;
			color: #fff;
			margin-bottom: 35px;
		}
		p{
			color: #fff;
			opacity: 0.8;
			font-size: 18px;
			line-height: 30px;
			margin-bottom: 35px;
		}
	}
}