.slider-mask{

	.title-block{
		h4{
			color: #fff;
			font-size: 14px;
			margin-bottom: 25px;
			letter-spacing: 6px;
		}
		h2{
			font-size: 66px;
			letter-spacing: 0.5px;
			color: #fff;
			margin-bottom: 40px;
		}
		.separator{
			margin-bottom: 30px;
		}
		p{
			color: #fff;
			opacity: 0.8;
			font-size: 18px;
			line-height: 30px;
			letter-spacing: 0.3px;
			margin-bottom: 44px;
		}
	}
}

.slider-list{
	li{
		display: inline-block;
		margin-right: 30px;
		span{
			width: 60px;
			height: 60px;
			background-color: rgb(23, 196, 238);
			border-radius: 4px 5px 5px 4px;
			color: #fff;
			font-size:32px;
			line-height: 35px;
			padding:12px;
			text-align: center;
			display: inline-block;
		}
	}
}

@media only screen and (max-width:992px){
	.slider-mask{
		.title-block h2{
			font-size: 46px;
		}
	}
}

@media only screen and (max-width:480px){
	.slider-mask .title-block{
		h4{
			font-size: 13px;
		}
		h2 {
			font-size: 24px;
		}
		p{
			font-size: 13px;
			width: 280px;
			padding: 0 15px;
		}
	}
}

// Custom Arrows for slider
.tparrows{
	position: relative;
}
.tp-bullet{
	background-color: transparent !important;
	.tp-bullet-astoria{
		width: 13px;
		height: 13px;
		border: 2px solid #dfdfdf;
		border-radius: 100%;
		display: inline-block;
	}
	&.selected{
		.tp-bullet-astoria{
			border-color: @active-color;
			background-color: @active-color;
		}
	}
	&:hover{
		.tp-bullet-astoria{
			border-color: @active-color;
		}
	}
}
