.contact-adress,
.contact-form{
	padding-left: 100px;
	padding-right: 100px;
}

.contact-form{
	background-color: @active-color;
}

section .contact-adress{
	.list-with-icon{
		margin-bottom: 50px;
		li{
			border-bottom: none;
			margin-bottom: 50px;
			img{
				top: -5px;
			}
			strong{
				text-transform: uppercase;
				color: #fff;
				padding-right: 3px;
			}
		}
	}
}