.contact-adress,
.contact-form{
	padding-left: 100px;
	padding-right: 100px;
}

.contact-form{
	h2{
		color: rgb(60, 60, 60);
		font-size: 52px;
		font-weight: 800;
		line-height: 50px;
	}
	p{
		margin-bottom: 50px;
	}
	.form-group{
		margin-left: 0;
		margin-right: 0;
		input,
		textarea{
			color: #898989;
			font-size: 13px;
			border: 1px solid rgba(51, 51, 51, 0.3);
			&:focus{
				border:1px solid rgba(51, 51, 51, 0.5);
			}
		}
		textarea{
			padding:15px 20px;
		}
	}
	button{
		margin-top: 35px;
		&.active-color{
			background-color: @active-color;
			&:hover{
				color: #fff;
			}
		}
	}
	.one-half{
		width: 50%;
		display: inline-block;
		float: left;
		margin-bottom: 30px;
		&:nth-child(2n+1){
			padding-right: 15px;
		}
		&:last-child{
			padding-left: 15px;
		}
	}
	input::-webkit-input-placeholder{color: rgba(137, 137, 137,0.8);}
	input:-moz-input-placeholder{color: rgba(137, 137, 137,0.8);}
	textarea:-moz-input-placeholder{color: rgba(137, 137, 137,0.8);}
	textarea::-webkit-input-placeholder{color: rgba(137, 137, 137,0.8);}
	&.active-form{
		background-color: @active-color;
		h4{
			color: #fff;
			font-size: 26px;
			font-weight: 800;
			line-height: 32px;
			margin-bottom: 20px;
		}
		p{
			color: rgba(255, 255, 255, 0.6);
			margin-bottom: 60px;
		}
		.form-group{
			input,
			textarea{
				color: rgba(255, 255, 255, 0.8);
				font-size: 13px;
				border:1px solid rgba(255, 255, 255, 0.5);
				padding-left: 20px;
				padding-right: 20px;
				&:focus{
					border:1px solid rgba(255, 255, 255, 0.8);
				}
			}
		}
		input::-webkit-input-placeholder{color: rgba(255, 255, 255, 0.8);}
		input:-moz-input-placeholder{color: rgba(255, 255, 255, 0.8);}
		textarea:-moz-input-placeholder{color: rgba(255, 255, 255, 0.8);}
		textarea::-webkit-input-placeholder{color: rgba(255, 255, 255, 0.8);}
	}
}
.contact-map{
	background-image: url(../assets/map-doctor.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
section .contact-adress{
	.list-with-icon{
		margin-bottom: 60px;
		margin-top: 20px;
		li{
			border-bottom: none;
			margin-bottom: 40px;
			padding-left: 50px;
			span{
				top: -8px;
			}
			strong{
				text-transform: uppercase;
				color: #fff;
				padding-right: 3px;
			}
		}
	}
}

.cta-title{
	h3 a{
		color: rgba(255, 255, 255, 1);
		font-size: 30px;
		font-weight: 800;
		line-height: 32px;
		letter-spacing: 0.5px;
		padding: 80px 30px;
		display: inline-block;
		width: 100%;
		text-align: center;
		background-color: #82b53f;
		.transition();
		&:hover{
			background-color: darken(#82b53f, 5%)
		}
	}
}

@media only screen and (max-width:1024px){
	.contact-form h4{
		font-size: 22px;
	}
	.contact-adress, .contact-form{
		padding-right: 50px;
		padding-left: 50px;
	}
}

@media only screen and (max-width:480px) {
	.contact-adress, .contact-form{
		padding-left: 30px;
		padding-right: 30px;
	}
	.cta-title h3 a{
		font-size: 24px;
		padding: 50px 30px;
		line-height: 36px;
	}
	.contact-form button{
		margin-top: 15px;
	}
}