header{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	text-align: center;
	z-index: 1;
	.logo,
	.main-menu,
	.header-right{
		display: inline-block;
		margin-bottom: -2px;
	}
	.logo{
		position: absolute;
		left: 50px;
		top: 50%;
		transform: translateY(-50%);
	}
	.header-right{
		position: absolute;
		right: 0;
	}
	.header-right{
		a,
		div.menu-icon{
			padding: 36px;
			height: 91px;
			display: block;
			float: left;
			cursor:pointer;
			border-left:1px solid rgba(255, 255, 255, 0.15);
			.transition();
			&:hover{
				background-color: @active-color;
			}
		}
	}
}

.menu-icon{
	.transition();
	transform:translate3d(0,0,0);
	position: relative;
	#nav-icon{
		transform: rotate(0deg);
		transition: .5s ease-in-out;
		cursor: pointer;
		width: 25px;
		span{
			display: block;
			position: absolute;
			height: 3px;
			width: 100%;
			background: #fff;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: .25s ease-in-out;
		}
		span:nth-child(1) {
		top: 0px;
		}

		span:nth-child(2),span:nth-child(3) {
		top: 8px;
		}

		span:nth-child(4) {
		top: 16px;
		}
	}
}

#search-popup{
	width:720px;
	margin: 0 auto;
	form{
		position: relative;
	}
	input[type="search"]{
		width: 100%;
		border:none;
		font-size: 22px;
		color: #fff;
		border-bottom: 1px solid #fff;
		padding-right: 40px;
	}
	input::-webkit-input-placeholder{
		color: #fff;
	}
	input[type="submit"]{
		background-image: url(../images/search-icon.svg);
		width: 30px;
		height: 30px;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		right: 0;
		top: 8px;
	}
}

.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.9;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}