.icon_box{
	&.filled{
		background-color: @active-color;
		color:#fff;
		padding: 4.15vw;
		.img-wrap{
			height: 62px;
			margin-bottom: 30px;
		}
		[class^="icon-"]{
			font-size: 3.2vw;
		}
		img{
			
			max-height: 100%;
			width: auto;
		}
		h5{
			font-size: 18px;
			font-weight: 800;
			letter-spacing: 0.5px;
			line-height: 30px;
			margin-bottom: 20px;
		}
		p{
			color: rgba(255, 255, 255, 0.8);
			line-height: 26px;
			font-size: 14px;
		}
		&.filled-5{
			background-color: darken(@active-color, 5%);
		}
		&.filled-10{
			background-color: darken(@active-color, 10%);
		}
		&.icon_on_left{
			.img-wrap{
				display: table;
				float: left;
				margin-right: 2.3vw;
			}
			.icon_content{
				display: table;
			}
			h5{
				font-size: 22px;
			}
		}
		&.moved-hover{
			.transition();
			position: relative;
			margin-top: -7.5vw;
			min-height: 15vw;
			width: 28vw;
			&:hover{
			}
		}
	}
}

.chess-icons{
	&.flexbox-container{
		flex-wrap: wrap;
	}
	.icon_box{
		padding: 5vw;
		h5{
			font-size: 26px;
			font-weight:700;
		}
		[class^="icon-"]{
			font-size: 44px;
			margin-bottom: 30px;
			display: inline-block;
		}
	}
}

.icon_box-chees{
	display: inline-block;
	width:100%;
	li{
		width:25%;
		float: left;
		padding:100px 50px;
		background-color: #fff;
		&:nth-child(even){
			background-color: rgb(244, 244, 244);
		}
		h5{
			color: rgb(74, 74, 74);
			font-family: "Open Sans", sans-serif;
			font-size: 22px;
			font-weight: 700;
			line-height: 26px;
			width: 50%;
		}
		p{
			margin-bottom: 30px;
		}
		.btn-default{
			font-size:11px;
			padding:14px 30px;
			display: inline-block;
		}
	}
	.icon_wrap{
		display: inline-block;
		width:100%;
		margin-bottom: 30px;
		span{
			font-size:44px;
		}
	}
	&.right-icon{
		.icon_wrap{
			h5{
				float: left;
			}
			span{
				float: right;
			}
		}
	}
	&.left-icon{
		.icon_wrap{
			h5{
				float: right;
			}
			span{
				float: left;
			}
		}
	}
	&.reverse{
		li{
			&:nth-child(even){
				background-color: #fff;
			}
			&:nth-child(odd){
				background-color: rgb(244, 244, 244);
			}
		}
	}
}

.bordered-mask{
	width: 100%;
	height: 100%;
	border:15px solid #fff;
	.bordered-mask-wrap{
		position: relative;
		padding: 110px 40px;
		text-align: center;
		color: #fff;
		width: 370px;
		span{
			font-family: 'Open Sans', sans-serif;
			font-size: 102px;
			line-height: 80px;
			font-weight: 800;
			margin-bottom: 25px;
			display: inline-block;
			text-transform: uppercase;
		}
		h4{
			font-size: 18px;
			font-weight: 800;
			line-height: 24px;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		p{
			color: rgba(255, 255, 255, 0.8);
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0.5px;
			line-height: 20px;
		}
	}
}

.icon_box.numbered{
	>span{
		color: @active-color;
		font-family: 'Open Sans', sans-serif;
		font-size: 100px;
		font-weight: 800;
		text-transform: uppercase;
		display: inline-block;
		margin-bottom: 20px;
	}
	h5{
		color: #4a4a4a;
		font-size: 18px;
		font-weight: 800;
		line-height: 32px;
		letter-spacing: 0.5px;
		margin-bottom: 20px;
	}
}

.filled-box{
	padding: 5vw 2vw;
	background-position: right bottom;
	background-repeat: no-repeat;
	.separator{
		background-image: url(../images/separator.png);
		border: none;
		width: 61px;
		height: 15px;
		display: inline-block;
		margin-top: 0;
		margin-bottom: 20px;
	}
	h5{
		color: #fff;
		font-size: 22px;
		font-weight: 800;
		letter-spacing: 0.5px;
		line-height: 20px;
		margin-bottom: 30px;
	}
	p{
		opacity: 0.8;
		color: white;
		font-size: 14px;
		font-weight: 400;
		line-height: 26px;
		margin-bottom: 45px;
	}
	&.orange{
		background-color: #f98f31;
		background-image: url(../images/icon-slice.png);
	}
	&.green{
		background-color: #82b53f;
		background-image: url(../images/icon-alarm.png);
	}
	&.blue{
		background-color: #2b70bb;
		background-image: url(../images/icon-trash.png);
	}
	&.red{
		background-color: #d53e3e;
		background-image: url(../images/icon-chat.png);
	}
}

.icon_box-bordered{
	display: inline-block;
	li{
		width: 50%;
		float: left;
		padding: 5vw 2.5vw;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: stretch;
		align-items: center;
		h5{
			color: #4a4a4a;
			font-size: 18px;
			font-weight: 800;
			letter-spacing: 0.5px;
			line-height: 32px;
			margin-bottom: 15px;
		}
		span{
			margin-right: 25px;
			position: relative;
			top:-20px;
			float: left;
			font-size: 40px;
		}
		&.color-white{
			h5{
				color: #fff;
			}
			border-color:rgba(255, 255, 255, 0.25);
		}

	}
}

#health{
	.icon_box-bordered{
		background-image: url(../assets/doctor-section.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.block-with-icon{
	margin-bottom: 40px;
	img{
		float: left;
		margin-right: 20px;
		margin-top: 10px;
	}
	span{
		font-size: 16px;
		line-height: 32px;
		display: block;
		b{
			font-size: 28px;
			font-weight: bold;
			color: @active-color;
		}
	}
	&.doctor-block{
		>span{
			font-size:44px;
			margin-right: 20px;
			display: table;
			float: left;
			line-height: 75px;
		}
	}
}

.icon_box_image{
	position: relative;
	overflow: hidden;
	img{
		width:100%;
		display: block;
		transition: transform 8s linear;
	}
	.icon_box-inner{
		position: absolute;
		left: 30px;
		right: 30px;
		bottom: 30px;
		top: 30px;
		padding: 50px 10vw;
		.v-align-child();
		align-items: center;
		border:1px solid rgba(255,255,255,0);
		.transition();
		span{
			font-size:60px;
			display: inline-block;
			margin-bottom: 20px;
			.transition();
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			backface-visibility: hidden;
		}
		h3{
			font-size:30px;
			letter-spacing:0.5px;
			color: #fff;
			font-weight:700;
			margin-bottom: 30px;
			.transition();
		}
		p{
			color: #fff;
			opacity: 0.8;
		}
	}
	.medium-title-block{
		padding-left: 100px;
		padding-right: 100px;
	}
	&:hover{
		img{
			transform: scale(2);
		}
		.icon_box-inner{
			border:1px solid rgba(255,255,255,0.3);
			span{
				transform: scale(1.25) translate3d(5px, -5px, 0);
			}
			h3{
				color: @active-color;
			}
		}
	}
}

.bordered-block{
	border: 10px solid @active-color;
	padding: 4vw;
	h3{
		margin-bottom: 25px;
	}
	p{
		margin-bottom: 40px;
	}
}

@media only screen and (max-width:1399px){
	.bordered-mask{
		border:none;
	}
}

@media only screen and (max-width:768px){
	.icon_box.numbered{
		margin-bottom: 40px;
	}
}

@media only screen and (max-width:480px){
	.icon_box-bordered li{
		height: auto !important;
		padding: 30px;
	}
	.filled-box{
		padding: 12vw 4vw;
	}
	.icon_box.filled{
		padding: 40px 15px;
	}
}