.icon-box{
	&.filled{
		background-color: @active-color;
		color:#fff;
		padding: 80px;
		.img-wrap{
			height: 62px;
			margin-bottom: 20px;
		}
		img{
			
			max-height: 100%;
			width: auto;
		}
		h5{
			font-size: 18px;
			font-weight: 700;
			line-height: 30px;
			margin-bottom: 20px;
		}
		p{
			color: rgba(255, 255, 255, 0.8);
			line-height: 32px;
			font-size: 14px;
		}
		&.filled-5{
			background-color: darken(@active-color, 5%);
		}
		&.filled-10{
			background-color: darken(@active-color, 10%);
		}
	}
}

.bordered-banner{
	img{
		width: 100%;
	}
}

.bordered-mask{
	position: absolute;
	left: 130px;
	right: 130px;
	top: 110px;
	bottom: 110px;
	border:15px solid #fff;
	.bordered-mask-wrap{
		position: absolute;
		top:50%;
		padding: 50px;
		transform: translateY(-50%);
		text-align: center;
		color: #fff;
		width: 100%;
		span{
			font-family: 'Open Sans', sans-serif;
			font-size: 102px;
			font-weight: 700;
			margin-bottom: 25px;
			display: inline-block;
			text-transform: uppercase;
		}
		h4{
			font-size: 18px;
			font-weight: 700;
			line-height: 24px;
			text-transform: uppercase;
			margin-bottom: 25px;
		}
		p{
			color: rgba(255, 255, 255, 0.8);
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
		}
	}
}

.icon-box.numbered{
	>span{
		color: @active-color;
		font-family: 'Open Sans', sans-serif;
		font-size: 100px;
		font-weight: 800;
		text-transform: uppercase;
		display: inline-block;
		margin-bottom: 20px;
	}
	h5{
		color: #4a4a4a;
		font-size: 18px;
		font-weight: 700;
		line-height: 32px;
		margin-bottom: 20px;
	}
}

.filled-box{
	padding: 100px 55px;
	width: 25%;
	background-position: right bottom;
	background-repeat: no-repeat;
	.separator{
		background-image: url(../images/separator.png);
		border: none;
		width: 61px;
		height: 15px;
		display: inline-block;
		margin-top: 0;
		margin-bottom: 15px;
	}
	h5{
		color: #fff;
		font-size: 22px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 20px;
	}
	p{
		opacity: 0.8;
		color: white;
		font-size: 14px;
		font-weight: 400;
		line-height: 26px;
		margin-bottom: 30px;
	}
	&.orange{
		background-color: #f98f31;
		background-image: url(../images/icon-slice.png);
	}
	&.green{
		background-color: #82b53f;
		background-image: url(../images/icon-alarm.png);
	}
	&.blue{
		background-color: #2b70bb;
		background-image: url(../images/icon-trash.png);
	}
	&.red{
		background-color: #d53e3e;
		background-image: url(../images/icon-chat.png);
	}
}

.icon-box-bordered{
	li{
		width: 50%;
		float: left;
		display: inline-block;
		padding: 100px 50px;
		&:nth-child(odd){
			border-bottom:1px solid #efefef;
			border-right:1px solid #efefef;
		}
		&:nth-child(even){
			border-bottom:1px solid #efefef;
		}
	}
}