.list-with-icon{
	img{
		display: inline-block;
		margin-right: 20px;
		vertical-align: middle;
	}
	h5{
		display: inline-block;
		font-size: 18px;
		font-weight: 700;
		line-height: 28px;
	}
	p{
		margin-top: 15px;
	}
}