@active-color: #f98f31;
.transition(){
	transition: all 0.2s ease-in-out;
}

.flexbox-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.stretch{
    align-self: stretch;
}

.table-container{
    display: table;
    >div{
        float: none;
        display: table-cell;
        vertical-align: middle;
        padding: 0;
    }
}

.img-100{
    img{
        width: 100%;
    }
}

.b-right{
    border-right:1px solid #efefef;
}

.b-bottom{
    border-bottom: 1px solid #efefef;
}

.b-top{
    border-top:1px solid #efefef;
}

.b-left{
    border-left:1px solid #efefef;
}

.color-white{
    color: #fff !important;
}

@media only screen and (max-width:1200px){
    .flexbox-container{
        flex-wrap:wrap;
    }
}

@media only screen and(max-width:992px){
    .table-container{
        >div{
            display: inline-block;
            width: 100%;
            vertical-align: middle;
        }
    }
}