section{
	padding-top: 180px;
	display: inline-block;
	width: 100%;
	&.dark-section{
		padding-top: 0;
		background-color: #292929;
		color: rgba(255, 255, 255, 0.6);
		h5{
			color: #fff;
		}
		.list-with-icon{
			li{
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);
				margin-bottom: 25px;
				&:last-child{
					border-bottom: none;
				}
			}
		}
	}
	.f-column{
		padding: 80px;
		p{
			margin-bottom: 25px;
		}
	}
}